<div class="container-fluid pt-5" >
        
   <H2>Ciao {{user.NAME}}!</H2>
  
    
   <div class="col-md-12">
    <canvas id="myChart" width="400" height="400"></canvas>

   </div>
   
</div>

<script>

var myChart = new Chart(document.getElementById("myChart"), {
    type: 'doughnut',
    data: {
      labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
      datasets: [
        {
          label: "Population (millions)",
          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [2478,5267,734,784,433]
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});
</script>