<div class="container-fluid pt-3" >
  <div class="form-horizontal rounded bg-white mx-auto pt-3 pb-5 mt-5 col-md-12 ng-pristine">
      <div class="row mb-5">
          <div class="col-md-12">
              <h2>Ciao {{user.NAME}}!</h2>
              <hr>
          </div>
      </div>
   
  
   
   <div class="col-md-6 float-left">
      <h3 class="text-center">Resoconto appuntamenti</h3>
    <canvas  height="{{height_chart}}"  id="doughnut" class="chart chart-doughnut"
        chart-data="data" chart-labels="labels" chart-options="options" chart-colors="colors">
    </canvas>
  </div>
    <div class="col-md-6 float-left">
        <h3 class="text-center">Andamento agenti</h3>
        <canvas  height="{{height_chart}}"  id="polar-area" class="chart chart-polar-area"
        chart-data="data1" chart-labels="labels1" chart-options="options1" chart-colors="colors1">
    </canvas>  
    </div>
    <div class="clearfix"></div>

   
   
  </div>
</div>
