<div class="container" >
     
    <form role="form" class="form-inline rounded bg-white mx-auto pt-3 pb-5 mt-5 col-md-12" method="POST" name="searchDateForm" ng-submit="searchDate.submitSearchDate()">
        
        <div class="row col-12">
            <div class="col-md-12">
                <h2>Ricerca appuntamenti</h2>
                <hr>
                <p><i>Di default la ricerca riporta gli appuntamenti del mese di produzione precedente</i></p>
                <hr>
            </div>
        </div>

        <div class="row col-12" >
            <div class="form-group pb-3 col-xs-12 col-sm-6 col-md-3 ">
                <label for="dataAppuntamentoDAL">Data appuntamento DAL</label>
                <p class="input-group datepicker">
                        <input type="text" name="dataAppuntamentoDAL" id="dataAppuntamentoDAL" ng-click="searchDate.openDAL()" class="form-control " readonly  uib-datepicker-popup="{{searchDate.format}}" ng-model="searchDate.dataAppuntamentoDAL" value=""  is-open="searchDate.popupDAL.opened" datepicker-options="searchDate.dateOptions"   clear-text="Rimuovi" close-text="Chiudi" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-orange" ng-click="searchDate.openDAL()"><i class="far fa-calendar-alt"></i></button>
                        </span>
                    </p>
            </div>
            <div class="form-group pb-3  col-xs-12 col-sm-6 col-md-3 ">
                <label for="dataAppuntamentoAL">Data appuntamento AL</label>
                <p class="input-group datepicker">
                        <input type="text" name="dataAppuntamentoAL" id="dataAppuntamentoAL" ng-click="searchDate.openAL()" class="form-control " readonly  uib-datepicker-popup="{{searchDate.format}}" ng-model="searchDate.dataAppuntamentoAL" value=""  is-open="searchDate.popupAL.opened" datepicker-options="searchDate.dateOptions"   clear-text="Rimuovi" close-text="Chiudi" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-orange" ng-click="searchDate.openAL()"><i class="far fa-calendar-alt"></i></button>
                        </span>
                    </p>
            </div>
           
        
        <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-3 ">
            <label for="provinceSelect">Provincia</label>
            <select  name="provinceSelect" class="form-control" id="provinceSelect" ng-change="searchDate.showComuni()" ng-model="searchDate.provinciaSelected">
                <option ng-repeat="option in searchDate.province" value="{{option.nome}}">{{option.nome}}</option>
            </select>
        </div>
        <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-3 ">
            <label for="comuniSelect">Comune</label>
            <select  name="comuniSelect" class="form-control" id="comuniSelect" ng-disabled="searchDate.disabledComuni" ng-model="searchDate.comuneSelected">
                    <option ng-repeat="option in searchDate.comuniPerProvincia"  value="{{option.nome}}">{{option.nome}}</option>
            </select>
        </div>
    </div>
    <div class="row col-12" >
        <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-3">
            <label for="esitoAppuntamento">Esito appuntamento</label>
            <select   ng-model="searchDate.esito.value" id="esitoAppuntamento" name="esitoAppuntamento"  class="form-control" ng-options="Esito.Value as Esito.Name  for Esito in searchDate.Esiti"></select>      
        </div>
        <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-3">
            <label for="codiceContrattoLuce">Codice contratto luce</label>
            <input type="text" maxlength="6" ng-pattern="/^[0-9]{6}$/"   class="form-control w-100"    ng-model="searchDate.codLuce">
        </div>
        <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-3">
            <label for="codiceContrattoGas">Codice contratto gas</label>
            <input type="text" maxlength="6" ng-pattern="/^[0-9]{6}$/"   class="form-control w-100"    ng-model="searchDate.codGas">
        </div>
    </div>

    <div class="row col-12" ng-if="user.TYPE === 'ADMIN'">
        <div  class="form-group pb-3 col-xs-12 col-sm-12 col-md-4">
            <label for="operatoriSelect">Operatore</label>
            <select  name="operatoriSelect" class="form-control"  id="operatoriSelect"   ng-model="searchDate.operatoriSelected">
                <option value="" ></option>
                <option ng-repeat="option in searchDate.operatori" ng-value="option.ID_UTENTE"  value="{{option.ID_UTENTE}}">{{option.ID_UTENTE}} {{option.COGNOME}} {{option.NOME}}</option>
            </select> 
        </div>   
        <div  class="form-group pb-3 col-xs-12 col-sm-12 col-md-4">
            <label for="venditoreSelect">Agente</label>
            <select  name="venditoreSelect" class="form-control" id="venditoreSelect"  ng-model="searchDate.venditoreSelected">
                <option value="" ></option>
                <option ng-repeat="option1 in searchDate.agenti" ng-value="option1.ID_UTENTE"  value="{{option1.ID_UTENTE}}">{{option1.ID_UTENTE}} {{option1.COGNOME}} {{option1.NOME}}</option>
            </select>
        </div>
    </div>

    <div class="row col-12" ng-if="user.TYPE === 'OPERATORE'">
        <div  class="form-group pb-3 col-xs-12 col-sm-12 col-md-4">
            <label for="venditoreSelect">Agente</label>
            <select  name="venditoreSelect" class="form-control" id="venditoreSelect"  ng-model="searchDate.venditoreSelected">
                <option ng-repeat="option1 in searchDate.venditoriForOperatore" ng-value="option1.ID_UTENTE"  value="{{option1.ID_UTENTE}}">{{option1.ID_UTENTE}}-{{option1.COGNOME}} {{option1.NOME}}</option>
            </select>
        </div>
    </div>

    <div class="row col-12" ng-if="user.TYPE === 'RESPONSABILE_AGENTI'">
       
    </div>


    <div class="row col-12" >
        <div class="col-md-12 col-xl-12 mt-3 ">
            <button ng-disabled="searchDateForm.$invalid "  type="submit" class="btn btn-orange ">Ricerca apppuntamenti</button> 
        </div>
    </div>
    </form>
</div>