<div class="container" >
    <form  class="form-horizontal rounded bg-white mx-auto pt-3 pb-5 mt-5 col-md-8" role="form" method="POST" ng-submit="submitEditPassword()" name="editPasswordForm">
        <div class="row">
            <div class="col-md-12">
                <h2>Cambia la password</h2>
                <hr>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="form-group has-danger">
                    <label class="" for="password">Inserisci la nuova password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input   ng-model="password" type="password" name="password" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/" class="form-control" id="password" placeholder="Password" required>
                        <p class="w-100 text-danger pl-4 pt-2" ng-show="!editPasswordForm.password.$error.required &&  editPasswordForm.password.$error.pattern && editPasswordForm.password.$dirty">La password deve contenere almeno 8 caratteri, una lettera maiuscola, una minuscola e un numero</p>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 ">
                <div class="form-group">
                    <label class="" for="password2">Conferma la password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input ng-model="password2" type="password" name="password2" class="form-control" ng-pattern="password" id="password2" placeholder="Conferma password" required>
                    </div>
                    <p class="w-100 text-danger pl-4 pt-2" ng-show="password != password2">Le password inserite sono diverse</p>
                </div>
            </div>
            
        </div>
      
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-12">
                <button ng-click="updatePassword()" ng-disabled="password != password2" type="submit" class="btn btn-orange btn-block"><i class="fa fa-sign-in"></i>Salva</button>
                
            </div>
        </div>
    </form>
</div>
</div>