<div class="container" >
     
    <form role="form" class="form-inline rounded bg-white mx-auto pt-3 pb-5 mt-5 col-md-12 editAppuntamentoAdmin" method="POST" name="editAppuntamentoAdmin" ng-submit="editDateAdmin.submitDateAdmin()">
        
        <div class="row col-12">
            <div class="col-md-12">
                <h2>Appuntamento {{editDateAdmin.Appuntamento.ID_APPUNTAMENTO}}</h2>
                <hr>
                <p class="orangeText">* Campi obbligatori</p>
            </div>
        </div>
    <div class="row col-12" >
        <div class="form-group  col-xs-12 col-sm-6 col-md-4 mr-2">
            <label for="dataAppuntamento">Data appuntamento*</label>
            <p class="input-group datepicker">
                    <input type="text" name="dataAppuntamento" id="dataAppuntamento" ng-click="editDateAdmin.open()" class="form-control " readonly required="required" uib-datepicker-popup="{{editDateAdmin.format}}" ng-model="editDateAdmin.dataAppuntamento" value="" ng-required="true" is-open="editDateAdmin.popup.opened" datepicker-options="editDateAdmin.dateOptions"   clear-text="Rimuovi" close-text="Chiudi" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-orange" ng-click="editDateAdmin.open()"><i class="far fa-calendar-alt"></i></button>
                    </span>
                </p>
        </div>
        <div ng-if="!editDateAdmin.oraDaDefinire" class="form-group pt-4  col-xs-12 col-sm-6 col-md-6">
                <label for="oraAppuntamento">Ora appuntamento*</label>
                <div uib-timepicker ng-model="editDateAdmin.oraAppuntamento" id="oraAppuntamento" ng-required="true"  show-meridian="false" hour-step="editDateAdmin.hstep" minute-step="editDateAdmin.mstep" ></div>
            </div>
        <div class="form-check checkBoxOraDaDefinire  ">
                <input class="form-check-input" ng-model="editDateAdmin.oraDaDefinire" ng-click="editDateAdmin.setOrarioDaDefinire()" type="checkbox" value="" id="oraDaDefinire">
                <label for="oraDaDefinire">Orario da definire</label>
        </div>
    </div>
    <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 ">
        <label for="provinceSelect">Provincia*</label>
        <select ng-required="true" name="provinceSelect" class="form-control" id="provinceSelect" ng-change="editDateAdmin.showComuni()" ng-model="editDateAdmin.provinciaSelected">
            <option ng-repeat="option in editDateAdmin.province" value="{{option.nome}}">{{option.nome}}</option>
        </select>
    </div>
    <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 ">
        <label for="comuniSelect">Comune*</label>
        <select ng-required="true" name="comuniSelect" class="form-control" id="comuniSelect" ng-disabled="editDateAdmin.disabledComuni" ng-model="editDateAdmin.comuneSelected">
                <option ng-repeat="option in editDateAdmin.comuniPerProvincia"  value="{{option.nome}}">{{option.nome}}</option>
        </select>
    </div>
    <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 col-xl-4">
            <label for="indirizzo">Indirizzo*</label>
            <input ng-required="true" type="text"name="indirizzo" class="form-control w-100" id="indirizzo" ng-disabled="editDateAdmin.disabledComuni" ng-model="editDateAdmin.indirizzo" />         
    </div>

    <div  class="form-group pb-3 col-xs-12 col-sm-12 col-md-4">
        <label for="operatoriSelect">Operatore*</label>
        <select ng-required="true" name="operatoriSelect" class="form-control"  id="operatoriSelect" ng-change="editDateAdmin.showAgentiForOperatore(editDateAdmin.operatoriSelected)"  ng-model="editDateAdmin.operatoriSelected">
            <option ng-repeat="option in editDateAdmin.operatori" ng-value="option.ID_UTENTE" ng-selected="option.ID_UTENTE === editDateAdmin.operatoriSelected" value="{{option.ID_UTENTE}}">{{option.ID_UTENTE}}-{{option.COGNOME}} {{option.NOME}}</option>
        </select>    
</div>
    <div  class="form-group pb-3 col-xs-12 col-sm-12 col-md-4">
        <label for="venditoreSelect">Agente*</label>
        <select ng-required="true" name="venditoreSelect" class="form-control" id="venditoreSelect" ng-disabled="editDateAdmin.disabledListaAgenti"  ng-model="editDateAdmin.venditoreSelected">
            <option ng-repeat="option1 in editDateAdmin.venditoriForOperatore" ng-value="option1.ID_UTENTE" ng-selected="option1.ID_UTENTE === editDateAdmin.venditoreSelected" value="{{option1.ID_UTENTE}}">{{option1.COGNOME}} {{option1.NOME}}</option>
        </select>
    </div>
    <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 col-xl-4">
        <label for="nomeAttivita">Nome azienda / persona fisica*</label>
        <input ng-required="true" type="text"name="nomeAttivita" class="form-control w-100" id="nomeAttivita"  ng-model="editDateAdmin.nomeAttivita" />         
</div>
<div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 col-xl-4">
    <label for="gestoreAttuale">Gestore attuale*</label>
    <select ng-required="true" ng-model="editDateAdmin.group.value" id="gestoreAttuale" name="gestoreAttuale"  class="form-control" ng-options="Group.Value as Group.Name  for Group in editDateAdmin.Groups"></select>
    <div class=" form-control mt-2" ng-show="editDateAdmin.group.value == 'altro'">
        <input class="text-box form-control " type="text" name="NewValue" ng-model="newValue" />
        <button type="button" ng-click="editDateAdmin.inserisciNuovoGestore(newValue)">Aggiungi</button>
    </div>       
</div>
<div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 col-xl-4">
    <label for="recapiti">Recapiti*</label>
    <input ng-required="true" type="text"name="recapiti" class="form-control w-100" id="recapiti"  ng-model="editDateAdmin.recapiti" />         
</div>
<div class="form-group pb-3 col-xs-12 col-sm-12 col-md-8 col-xl-8">
    <label for="noteOperatore">Note operatore</label>
    <textarea  rows="4" cols="50"  maxlength="480"  type="text"name="noteOperatore" class="form-control w-100" id="noteOperatore"  ng-model="editDateAdmin.noteOperatore" ></textarea>         
</div>
<div class="row col-12">
    <div class="col-md-12">
        <hr>
        <h4>Esito </h4>
        <hr>
        
    </div>
</div>
<div class="form-group pb-3 col-xs-12 col-sm-12 col-md-12 col-xl-12">
        <label for="esitoAppuntamento">Esito appuntamento</label>
        <select ng-required="false"  ng-model="editDateAdmin.esito.value" id="esitoAppuntamento" name="esitoAppuntamento"  class="form-control" ng-options="Esito.Value as Esito.Name  for Esito in editDateAdmin.Esiti"></select>      
</div>

<div ng-if="editDateAdmin.esito.value == 'OK'"  class="form-group pb-3 col-xs-12 col-sm-12 col-md-12 col-xl-12">
    <label for="numLuce">Numero contratti luce*</label>
    <select ng-change="editDateAdmin.createInputLuce()" ng-required="true" ng-model="editDateAdmin.numLuce" id="numLuce" name="numLuce"  class="form-control" ng-options="o as o for o in editDateAdmin.numeriContratto"></select>
    <div ng-if="editDateAdmin.numLuce > 0"  class="form-group pt-3 col-xs-12 col-sm-12 col-md-12 col-xl-12 px-0">
        <div class=" col-xs-12 col-sm-12 col-md-12 col-xl-12">
                <button ng-click="editDateAdmin.addNewNumContrattoLuce()"  type="button" class="btn btn-orange mb-3 mr-3"><i class="fas fa-plus"></i></button>
                <button ng-show="editDateAdmin.inputsLuceAdded.length > 0" ng-click="editDateAdmin.removeNewNumContrattoLuce()"  type="button" class="btn btn-orange  mb-3"><i class="fas fa-minus"></i></button>
        </div>
        
        <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 col-xl-4" ng-repeat="inputLuce in editDateAdmin.inputsLuce track by $index">
            <input type="text" maxlength="6" ng-pattern="/^[0-9]{6}$/"   class="form-control w-100" placeholder="Cod. contratto luce" ng-required="true"  ng-model="editDateAdmin.inputsLuce[$index]">
        </div>

        <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 col-xl-4" ng-repeat="inputLuceAdded in editDateAdmin.inputsLuceAdded track by $index">
                <input type="text" maxlength="6" ng-pattern="/^[0-9]{6}$/"   class="form-control w-100" placeholder="Cod. contratto luce"   ng-model="editDateAdmin.inputsLuceAdded[$index]">
        </div>

      
        
    </div>
    <label for="numGas">Numero contratti gas*</label>
    <select ng-change="editDateAdmin.createInputGas()" ng-required="true" ng-model="editDateAdmin.numGas" id="numGas" name="numGas"  class="form-control" ng-options="o as o for o in editDateAdmin.numeriContratto"></select>
    <div ng-if="editDateAdmin.numGas > 0"  class="form-group pt-3 col-xs-12 col-sm-12 col-md-12 col-xl-12 px-0">
        <div class=" col-xs-12 col-sm-12 col-md-12 col-xl-12">
                <button ng-click="editDateAdmin.addNewNumContrattoGas()"  type="button" class="btn btn-orange mb-3 mr-3"><i class="fas fa-plus"></i></button>
                <button ng-show="editDateAdmin.inputsGasAdded.length > 0" ng-click="editDateAdmin.removeNewNumContrattoGas()"  type="button" class="btn btn-orange  mb-3"><i class="fas fa-minus"></i></button>
        </div>
        <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 col-xl-4" ng-repeat="inputGas in editDateAdmin.inputsGas track by $index">
            <input type="text" maxlength="6" ng-pattern="/^[0-9]{6}$/"  class="form-control w-100 " ng-required="true" placeholder="Cod. contratto gas"  ng-model="editDateAdmin.inputsGas[$index]">
        </div>
        <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 col-xl-4" ng-repeat="inputGasAdded in editDateAdmin.inputsGasAdded track by $index">
                <input type="text" maxlength="6" ng-pattern="/^[0-9]{6}$/"   class="form-control w-100" placeholder="Cod. contratto gas"   ng-model="editDateAdmin.inputsGasAdded[$index]">
        </div>
    </div>
</div>
<div class="form-group pb-3 col-xs-12 col-sm-12 col-md-8 col-xl-8">
        <label for="editDateAdmin.noteAgente">Note Agente </label>
        <p class="w-100 mb-2" ng-show="editDateAdmin.esito.value == 'KO'" style="color:#f47320;">Inserire il motivo del KO* (min 10 caratteri)</p>
        <textarea  rows="4" cols="50" ng-minlength="10" minlength="10"  maxlength="480" ng-required="editDateAdmin.esito.value == 'KO'"  type="text"name="noteAgente" class="form-control w-100" id="noteAgente"  ng-model="editDateAdmin.noteAgente" ></textarea>         
    </div>

    <div class="col-md-12 col-xl-12 mt-3 buttonAdminGroup">
        <button ng-disabled="editAppuntamentoAdmin.$invalid || (editDateAdmin.esito.value == 'OK' && editDateAdmin.numLuce == 0 && editDateAdmin.numGas == 0 )"  type="submit" class="btn btn-orange btn-addUtente">Salva</button> 
        <button  ng-click="editDateAdmin.deleteDate()"  type="button" class="btn btn-white btn-addUtente">Elimina</button>
        <button  ng-click="editDateAdmin.cancel()"  type="button" class="btn btn-orange btn-addUtente float-right">Annulla</button>
    </div> 
    
    
</form>
</div>