<div class="container" >
    <form class="form-horizontal rounded bg-white mx-auto pt-3 pb-5 mt-5 col-md-4" role="form" method="POST" ng-submit="submitLogin()">
        <div class="row">
            <div class="col-md-12">
                <h2>Benvenuto</h2>
                <hr>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="form-group has-danger">
                    <label class="sr-only" for="username">Username</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input ng-model="username" type="text" name="username" class="form-control" id="username" placeholder="email@esempio.com" required autofocus="">
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input ng-model="password" type="password" name="password" class="form-control" id="password" placeholder="Password" required="">
                    </div>
                </div>
            </div>
            
        </div>
      
        <div class="row" style="padding-top: 1rem">
            <div class="col-md-12">
                <button type="submit" class="btn btn-orange btn-block"><i class="fa fa-sign-in"></i> Login</button>
                
            </div>
        </div>
    </form>
</div>
</div>