<div class="container" >
<form role="form" class="form-horizontal rounded bg-white mx-auto pt-3 pb-5 mt-5 col-md-12" method="POST" ng-submit="editUser.submitAddUser()">
    <div class="row">
        <div class="col-md-12">
            <h2>Modifica utente</h2>
            <hr>
        </div>
    </div>
    <div class="form-group">
      <label for="inputNome">Nome</label>
      <input required ng-model="editUser.nome" type="text" class="form-control" id="inputNome" aria-describedby="Nome" placeholder="Nome">
     
    </div>
    <div class="form-group">
      <label for="inputCognome">Cognome</label>
      <input required ng-model="editUser.cognome" type="text" class="form-control" id="inputCognome" placeholder="Cognome">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input required ng-model="editUser.username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="Cognome" placeholder="Email">
     
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Modifica Password</label>
      <input  ng-model="editUser.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <fieldset ng-if="editUser.userType != 'ADMIN'" class="form-group">
        <legend>Tipo utente</legend>
        <div class="form-check">
          <label class="form-check-label ">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1"  ng-model="editUser.userType" value="AGENTE" checked="checked">
           Agente
          </label>
        </div>
        <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" ng-model="editUser.userType" value="RESPONSABILE AGENTI">
            Responsabile agenti
          </label>
        </div>
        <div class="form-check ">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" ng-model="editUser.userType" value="OPERATORE" >
            Operatore
          </label>
        </div>
      </fieldset>
      
    <div class="form-group" ng-show="editUser.userType === 'AGENTE' || editUser.userType === 'RESPONSABILE AGENTI'">
      <label for="exampleSelect1">Operatore associato</label>
      <select class="form-control" name="operatoreAssociatoSelect" id="operatoreAssociatoSelect" ng-selected="editUser.operatoreAssociato" ng-model="editUser.operatoreAssociato" ng-options='operator.ID_UTENTE as (operator.NOME+" "+operator.COGNOME ) for operator in editUser.operatori'>
   
    </select>
  
    </div>

    <div class="form-group" ng-show="editUser.userType === 'AGENTE'">
      <label for="exampleSelect2">Responsabile associato</label>
      <select class="form-control" name="responsabileAssociatoSelect" id="responsabileAssociatoSelect" ng-selected="editUser.responsabileAssociato" ng-model="editUser.responsabileAssociato" ng-options='operator.ID_UTENTE as (operator.NOME+" "+operator.COGNOME ) for operator in editUser.responsabili'>
   
     
    </select>
    </div>

   
    
    <button type="submit" class="btn btn-orange btn-addUtente">Salva</button>
    <button  ng-click=" cancel()" class="btn btn-orange btn-addUtente float-right">Annulla</button>
  </form>
 
</div>




