<div class="container">

    <form role="form" class="form-inline rounded bg-white mx-auto pt-3 pb-5 mt-5 col-md-12" method="POST"
        name="recessesLuceForm" ng-submit="recessesLuce.submitrecessesLuce('submit')">

        <div class="row col-12">
            <div class="col-md-12">
                <h2>Recessi Luce</h2>
                <hr>
            </div>
        </div>

        <div class="row col-12">
            <div class="form-group pb-3 col-xs-12 col-sm-6 col-md-3 ">
                <label for="dataRecessoDAL">Data recesso DAL</label>
                <p class="input-group datepicker">
                    <input type="text" name="dataRecessoDAL" id="dataRecessoDAL" ng-click="openDAL()"
                        class="form-control " readonly uib-datepicker-popup="{{format}}"
                        ng-model="recessesLuce.searchParam.dataRecessoDAL" value="" is-open="popupDAL.opened"
                        datepicker-options="dateOptions" clear-text="Rimuovi" close-text="Chiudi" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-orange" ng-click="openDAL()"><i
                                class="far fa-calendar-alt"></i></button>
                    </span>
                </p>
            </div>
            <div class="form-group pb-3  col-xs-12 col-sm-6 col-md-3 ">
                <label for="dataRecessoAL">Data recesso AL</label>
                <p class="input-group datepicker">
                    <input type="text" name="dataRecessoAL" id="dataRecessoAL" ng-click="openAL()" class="form-control "
                        readonly uib-datepicker-popup="{{format}}" ng-model="recessesLuce.searchParam.dataRecessoAL"
                        value="" is-open="popupAL.opened" datepicker-options="dateOptions" clear-text="Rimuovi"
                        close-text="Chiudi" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-orange" ng-click="openAL()"><i
                                class="far fa-calendar-alt"></i></button>
                    </span>
                </p>
            </div>


            <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-3 ">
                <label for="provinceSelect">Provincia</label>
                <select name="provinceSelect" class="form-control" id="provinceSelect"
                    ng-model="recessesLuce.searchParam.provinciaSelected">
                   
                    <option ng-repeat="option in recessesLuce.province" value="{{option.code}}">{{option.nome}}</option>
                </select>
            </div>

        </div>
        <div class="row col-12">
            <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 ">
                <label for="ragioneSociale">Rag.Sociale</label>
                <input type="text" id="ragioneSociale" class="form-control w-100"
                    ng-model="recessesLuce.searchParam.ragioneSociale">
            </div>
            <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4">
                <label for="statoRecesso">Stato recesso</label>
                <select ng-model="recessesLuce.searchParam.stato.value" id="statoRecesso" name="statoRecesso"
                    class="form-control"
                    ng-options="Stato.Value as Stato.Name  for Stato in recessesLuce.Stati"></select>
            </div>
            <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4">
                <label for="kwhAnnui">KWh annui</label>
                <select ng-model="recessesLuce.searchParam.kwhAnnui" id="kwhAnnui" name="kwhAnnui"
                    class="form-control">
                    <option  value=""></option>
                    <option  value="0-1000">da 0 a 1.000 kWh</option>
                    <option  value="1000-5000">da 1.000 a 5.000 kWh</option>
                    <option  value="5000-10000">da 5.000 a 10.000 kWh</option>
                    <option  value="10000-50000">da 10.000 a 50.000 kWh</option>
                    <option  value="50000">+ di 50.000 kWh</option>
                </select>
            </div>

        </div>

        <div class="row col-12" ng-if="user.TYPE === 'ADMIN' || user.TYPE === 'BACK_OFFICE'">

            <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4">
                <label for="venditoreSelect">Agente</label>
                <select name="venditoreSelect" class="form-control" id="venditoreSelect"
                    ng-model="recessesLuce.searchParam.venditoreSelected">
                    <option value=""></option>
                    <option ng-repeat="option1 in recessesLuce.agenti" ng-value="option1.ID_UTENTE"
                        value="{{option1.ID_UTENTE}}">{{option1.ID_UTENTE}} {{option1.COGNOME}} {{option1.NOME}}
                    </option>
                </select>
            </div>
        </div>

        <div class="row col-12" ng-if="user.TYPE === 'RESPONSABILE_AGENTI'">
            <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4">
                <label for="venditoreSelect">Agente</label>
                <select name="venditoreSelect" class="form-control" id="venditoreSelect"
                    ng-model="recessesLuce.searchParam.venditoreSelected">
                    <option value=""></option>
                    <option ng-value="user.Id" value="{{user.Id}}">{{user.Id}} - {{user.SURNAME}} {{user.NAME}}</option>
                    <option ng-repeat="option1 in recessesLuce.venditoriForResponsabili" ng-value="option1.ID_UTENTE"
                        value="{{option1.ID_UTENTE}}">{{option1.ID_UTENTE}}-{{option1.COGNOME}} {{option1.NOME}}
                    </option>
                </select>
            </div>
        </div>


        <div class="row col-12">
            <div class="col-md-12 col-xl-12 mt-3 ">
                <button ng-disabled="recessesLuceForm.$invalid " type="submit" class="btn btn-orange ">Ricerca recessi
                    Luce</button>
            </div>
        </div>
    </form>

    <div ng-if="recessesLuce.showRisultati"
        class="form-horizontal rounded bg-white mx-auto pt-3 pb-5 mt-5 col-md-12 ng-pristine">
        <div class="col-md-12">
            <h2>Risultato ricerca recessi</h2>
            <hr>
        </div>
        <div ng-if="recessesLuce.totalItems == 0">
            <h3>Nessun recesso trovato, modificare i parametri di ricerca</h3>
        </div>

        <div ng-if="recessesLuce.totalItems > 0" class="table-responsive">
            <table class="table  table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Indirizzo</th>
                        <th scope="col" class="cursor-pointer" ng-click="recessesLuce.searchParam.orderByConsumo()">KWH_ANNUI 
                            <i ng-show="recessesLuce.searchParam.order == '' " class="fas fa-sort"></i>
                            <i ng-show="recessesLuce.searchParam.order == 'DESC' " class="orangeText fas fa-sort-down"></i>
                            <i ng-show="recessesLuce.searchParam.order == 'ASC' " class="orangeText fas fa-sort-up"></i>
                         </th>
                        <th scope="col">Data recesso</th>
                        <th scope="col">Permanenza</th>
                        <th scope="col">Agente assegnato</th>
                        <th scope="col">Stato</th>
                        <th scope="col">Referente</th>
                        <th scope="col">Modifica</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in recessesLuce.recessiLuceResult" >
                        <td>
                            {{x.RAGIONE_SOCIALE}}
                        </td> 
                        <td>
                            {{x.INDIRIZZO_FORN}} {{x.LOCALITA_FORN}} 
                        </td> 
                        <td>
                            {{x.KWH_ANNUI | number}}
                        </td> 
                        <td>
                            {{x.DATA_VALIDITA_RECESSO | date:'dd/MM/yyyy'}}
                        </td> 
                        <td>
                            {{recessesLuce.permanenza(x.DATA_ATTIVAZIONE, x.DATA_VALIDITA_RECESSO)}}
                        </td> 
                        <td>
                            {{x.COGNOME_VENDITORE}}  {{x.NOME_VENDITORE}}
                         </td> 
                        <td>
                            {{x.STATO}}
                        </td> 
                        <td>
                            {{x.REFERENTE_RECESSO}} {{x.REFERENTE_RECESSO_RECAPITO}}
                        </td> 
                        <td>
                            <button class="btn btn-orange btn-modifyUtente"
                                ng-click="recessesLuce.modifyRecess(x)">
                                <i class="fas fa-pencil-alt"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ul ng-if="recessesLuce.totalItems > recessesLuce.searchParam.itemsPerPage" uib-pagination
            items-per-page="recessesLuce.searchParam.itemsPerPage" total-items="recessesLuce.totalItems"
            ng-model="recessesLuce.searchParam.currentPage" ng-change="pageChanged()" boundary-link-numbers="true"
            rotate="true" max-size="5"></ul>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="recessModal" tabindex="-1" role="dialog" aria-labelledby="recessModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="recessModalLabel">Recesso: <b>{{recessesLuce.dettaglioRecesso.ID_RECESSO_LUCE}}</b></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container" >
              <form role="form" class="form-inline rounded bg-white mx-auto pt-3 pb-5 mt-0 col-md-12 d-flex flex-row justify-content-between align-items-baseline" method="POST" name="viewDettaglioRecesso" ng-submit="recessesLuce.updateRecesso()" >
        
                  <div class="form-group pb-3   col-xs-12 col-sm-3 col-md-4">
                      <label for="dataValiditaRecessoDettaglioRecesso">Data Recesso: &nbsp;  </label>
                      <p id="dataValiditaRecessoDettaglioRecesso" class="input-group datepicker font-weight-bold">
                          {{recessesLuce.dettaglioRecesso.DATA_VALIDITA_RECESSO | date:'dd/MM/yyyy'}}
                      </p>
                  </div>
                  <div class="form-group pb-3  col-xs-12 col-sm-3 col-md-4">
                      <label for="dataAttivazioneDettaglioRecesso">Data attivazione: &nbsp;</label>
                      <p  id="dataAttivazioneDettaglioRecesso" class="input-group datepicker font-weight-bold">
                        {{recessesLuce.dettaglioRecesso.DATA_ATTIVAZIONE | date:'dd/MM/yyyy'}}
                      </p>
                  </div>
                  <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 ">
                    <label for="ragSociale">Rag.Sociale: &nbsp;</label>
                    <p id="ragSociale" class="input-group datepicker font-weight-bold">
                        {{recessesLuce.dettaglioRecesso.RAGIONE_SOCIALE}} 
                    </p>
                </div>
                  <div class="form-group pb-3  col-xs-12 col-sm-3 col-md-4">
                    <label for="pod">POD: &nbsp;</label>
                    <p  id="pod" class="input-group datepicker font-weight-bold">
                      {{recessesLuce.dettaglioRecesso.POD }}
                    </p>
                </div>
            
              <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 ">
                  <label for="indirizzoForn">Indirizzo Fornitura: &nbsp;</label>
                  <p id="indirizzoForn" class="input-group datepicker font-weight-bold">
                      {{recessesLuce.dettaglioRecesso.INDIRIZZO_FORN}} {{recessesLuce.dettaglioRecesso.LOCALITA_FORN}}
                  </p>
              </div>
              <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 ">
                <label for="indirizzoLegale">Indirizzo Sede legale: &nbsp;</label>
                <p id="indirizzoLegale" class="input-group datepicker font-weight-bold">
                    {{recessesLuce.dettaglioRecesso.INDIRIZZO_SEDE_LEGALE}} {{recessesLuce.dettaglioRecesso.LOCALITA_SEDE_LEGALE}}
                </p>
              </div>
              <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 ">
                <label for="recapiti">Recapiti: &nbsp;</label>
                <p id="recapiti" class="input-group datepicker font-weight-bold">
                    {{recessesLuce.dettaglioRecesso.TELEFONO}} {{recessesLuce.dettaglioRecesso.CELLULARE}} 
                </p>
            </div>
              <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 ">
                  <label for="consumi">Consumi KWH Annui: &nbsp;</label>
                  <p id="consumi" class="input-group datepicker font-weight-bold">
                      {{recessesLuce.dettaglioRecesso.KWH_ANNUI}}
                  </p>
              </div>
              <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 ">
                <label for="insoluto">Insoluto: &nbsp;</label>
                <p id="insoluto" class="input-group datepicker font-weight-bold">
                    {{recessesLuce.dettaglioRecesso.INSOLUTO}}
                </p>
            </div>
            <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 ">
                <label for="agente">Contratto stipulato da: &nbsp;</label>
                <p id="agente" class="input-group datepicker font-weight-bold">
                    {{recessesLuce.dettaglioRecesso.AGENZIA}}
                </p>
            </div>
            <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 ">
                <label for="agente">Agente assegnato: &nbsp;</label>
                <select ng-if="user.TYPE === 'ADMIN' || user.TYPE === 'BACK_OFFICE'" id="agente"  name="venditoreSelect" class="form-control"    ng-model="recessesLuce.dettaglioRecesso.ID_VENDITORE">
                    <option ng-repeat="option1 in recessesLuce.agenti" ng-value="option1.ID_UTENTE" ng-selected="option1.ID_UTENTE === recessesLuce.dettaglioRecesso.ID_VENDITORE" value="{{option1.ID_UTENTE}}">{{option1.COGNOME}} {{option1.NOME}}</option>
                </select>
                <select ng-if="user.TYPE === 'RESPONSABILE_AGENTI'" id="agente" name="venditoreSelect" class="form-control"   ng-model="recessesGas.dettaglioRecesso.ID_VENDITORE">
                    <option ng-value="user.Id" value="{{user.Id}}" ng-selected="user.Id === recessesLuce.dettaglioRecesso.ID_VENDITORE"> {{user.SURNAME}} {{user.NAME}}</option>
                    <option ng-repeat="option1 in recessesLuce.venditoriForResponsabili" ng-value="option1.ID_UTENTE" ng-selected="option1.ID_UTENTE === recessesGas.dettaglioRecesso.ID_VENDITORE" value="{{option1.ID_UTENTE}}">{{option1.COGNOME}} {{option1.NOME}}</option>
                </select>
                <!-- SE SONO AGENTE O AGENTE_JUNIOR VEDO SOLAMENTE LA MIA ASSEGNAZIONE -->
                <p ng-if="user.TYPE !== 'ADMIN' && user.TYPE !== 'BACK_OFFICE' && user.TYPE !== 'RESPONSABILE_AGENTI'" id="agente" class="input-group datepicker font-weight-bold">
                    {{recessesLuce.dettaglioRecesso.COGNOME_VENDITORE}} {{recessesLuce.dettaglioRecesso.NOME_VENDITORE}} 
                </p>
            </div>
            <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 ">
                <label for="agente">Nome e recapito del cliente: &nbsp;</label>
                <input type="text" ng-model="recessesLuce.dettaglioRecesso.REFERENTE_RECESSO" ng-required="recessesLuce.dettaglioRecesso.STATO == 'RESPINTO'"  name="referentoRecesso" class="form-control" placeholder="Nome Referente">
                <small id="recapitoHelp" class="form-text text-muted">Solo caratteri numerici</small>
                <input type="text" maxlength="15" ng-pattern="/^[0-9]*$/" ng-required="recessesLuce.dettaglioRecesso.STATO == 'RESPINTO'" ng-model="recessesLuce.dettaglioRecesso.REFERENTE_RECESSO_RECAPITO"   name="referentoRecessoRecapito" class="form-control" placeholder="Recapito Referente">
            </div>
            <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 ">
                <label for="stato">Stato: &nbsp;</label>
                <select  ng-required="true" name="statoSelected" class="form-control" id="stato"   ng-model="recessesLuce.dettaglioRecesso.STATO">
                    <option ng-repeat="option1 in recessesLuce.Stati" ng-value="option1.Value" ng-selected="option1.Value === recessesLuce.dettaglioRecesso.STATO" value="{{option1.Value}}">{{option1.Name}} </option>
                    <!-- INSERITO SOLO PER AGENTE JUNIOR E AGENTE, PER NON DUPLICARE L'OGGETTO .Stati dato che gli agenti possono respingere ma
                    non ricercare i recessi respinti -->
                    <option ng-show="user.TYPE === 'AGENTE' || user.TYPE === 'AGENTE_JUNIOR'"  ng-value="'RESPINTO'"  value="RESPINTO">RESPINTO </option>
                </select>
                
            </div>

            <div ng-if="recessesLuce.dettaglioRecesso.STATO == 'RIENTRO'" class="form-group pb-3 col-xs-12 col-sm-12 col-md-4 ">
                <label for="stato">Codice Contratto: &nbsp;</label>
                <input id="stato" maxlength="6" ng-pattern="/^[0-9]{6}$/" type="text" ng-required="recessesLuce.dettaglioRecesso.STATO == 'RIENTRO'" ng-model="recessesLuce.dettaglioRecesso.COD_CONTRATTO"   name="codContratto" class="form-control" placeholder="Inserisci Cod Contratto">
            </div>

            <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-8 col-xl-8">
                <label for="noteRecesso">Note recesso:</label>
                <textarea  rows="4" cols="50"  maxlength="480"  type="text" name="note" class="form-control w-100" id="note"  ng-model="recessesLuce.dettaglioRecesso.NOTE" ></textarea>         
            </div>
            <div class="row col-12" ng-if="user.TYPE === 'ADMIN' || user.TYPE === 'BACK_OFFICE'">
                <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-6 ">
                    <label for="dataInserimentoSistema">Data inserimento a sistema: &nbsp;</label>
                    <p id="dataInserimentoSistema" class="input-group datepicker font-weight-bold">
                        {{recessesLuce.dettaglioRecesso.DATA_INSERIMENTO | date:'dd/MM/yyyy'}}
                    </p>
                </div>
                <div class="form-group pb-3 col-xs-12 col-sm-12 col-md-6 ">
                    <label for="dataUltimaModifica">Data ultima modifica: &nbsp;</label>
                    <p id="dataUltimaModifica" class="input-group datepicker font-weight-bold">
                        {{recessesLuce.dettaglioRecesso.ULTIMA_MODIFICA | date:'dd/MM/yyyy'}}
                    </p>
                </div>
            </div>
           
           
            <div class="col-md-12 col-xl-12 mt-3 ">
                <button ng-disabled="viewDettaglioRecesso.$invalid "  type="submit" class="btn btn-orange ">Salva modifiche</button>
                <button  ng-click="recessesLuce.cancel()"  type="button" class="btn btn-orange  float-right">Annulla</button>
            </div>
          
         </form>
      </div>
        </div>
      
      </div>
    </div>
  </div>